<div id="wrap" class="oe_structure oe_empty">
    <section class="s_text_image">
        <div class="container">
          <div class="row">
              <h4 >This module for Odoo Community Edition</h3>
            <h3 style="text-align: center; ">
              <font style="" class="text-gray-darker"><b>It's only framework!</b></font>
            </h3>
            <h3 style="text-align: center; ">
              <font style="" class="text-gray-darker">Use with free <a href="https://apps.odoo.com/apps/modules/11.0/ba_web_gantt_project/">Project Module</a><br/></font>
            </h3>
            <h3>
              <font style="" class="text-gray-darker">DEMO: <a href="http://demo.business-apps.ru/web">http://demo.business-apps.ru</a>, LOGIN demo PASSWORD demo </font>
            </h3>
          </div>
        </div>
        <div class="container">
          <div class="row">
            <div class="col-md-6 mt64 mb32">
              <h3 style="text-align: center;">Framework for add Gantt view<br/></h3>
              <p style="text-align: left;">This is only framework. For use:</p>
              <p style="text-align: left;">1. Add view for object</p>
              <p style="text-align: left;"><b>&#60;ganttview start_date="gantt_start_date" stop_date="gantt_stop_date"&#62;</b></p>
              <p> </p>
              <p>
                <b>&#60;/ganttview&#62;</b>
              </p>
              <p>where you specify the start and end fields.</p>
              <p>2. Add in action to field "view_mode":</p>
              <p>
                <b>ganttview</b>
              </p>
              <p style="text-align: left;">
                  Dynamic chart. It is possible to move terms and also to open tasks directly on the chart. Shows dependences between tasks and subtasks. Terms taking into account date and time.
              </p>
            </div>
            <div class="col-md-6 mt32 mb32">
              <img class="img img-responsive pull-left mb16" src="banner.jpg" alt="" data-original-title="" title="" style="transform: translateX(-2.4%) translateY(-15.4%) scaleX(0.81) scaleY(0.72);"/>
            </div>
          </div>
        </div>
      </section>
      <section class="s_image_text">
        <div class="container">
          <div class="row">
            <div class="col-md-6 mt32 mb32">
              <img class="img img-responsive center-block mb16" src="need_help.jpg" alt="Odoo изображение и текстовый блок"/>
            </div>
            <div class="col-md-6 mt64 mb32">
              <h3>Need help or development?</h3>
              <h3>
                <br/>
              </h3>
              <p>
                <i>
                        Contact us: </i>
                <b>info@business-apps.ru</b>
              </p>
              <p>
                <br/>
              </p>
            </div>
          </div>
        </div>
      </section>
</div>